/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Debug*/
.debug {
    border:1px solid red;
}

/*Colori

 Black #1A1A1A
 Orange #FF6900
 */


/*Flex*/
.d-flex {
    display: flex;
}

.space-b {
    justify-content: space-between;
}

.space-a {
    justify-content: space-around;
}

.center {
    justify-content: center;
    align-content: center;
}

.row {
    gap:5px;
    flex-wrap: wrap;
}


/*Position Utility*/

.p-fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.p-relative {
    position: relative;
}

/*Body css*/
header {
    background-color: #FF6900;
    color: white;
    padding:10px 10px;
    width: 100%;
    z-index: 1000;
}

main {
    margin-top: 50px;
    max-width: 1200px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

ul {
    gap:5px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

nav>img {
    height: auto;
    width: 100px;
}

.box-item {
    margin-top: 40px;
    flex-direction: column;
    width: 33%;
}

.col {
    width: calc(100% - 10px)/3;
    position: relative;
}
.col:hover {
    cursor: pointer;
}

.col img {
    width: 100%;
    display:block;
}

.badge {
    position: absolute;
    bottom: 25px;
    left: 0px;
    font-size: 11px;
    color: white;
    gap: 3px;
}

.badge-v {
    display: inline-block;
    background-color: green;
    padding: 3px 6px;
}

.badge-r {
    display: inline-block;
    background-color: red;
    padding: 3px 6px;
}

footer {
    background-color: #1A1A1A;
    color: white;
    font-size: 12px;
    padding: 15px 0px;
}

footer ul {
    padding-top: 5px;
}
