/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Debug*/
.debug {
    border:1px solid red;
}

/*Colori

 Black #1A1A1A
 Orange #FF6900
 */


/*Flex*/
.d-flex {
    display: flex;
}

.space-b {
    justify-content: space-between;
}


/*Position Utility*/

.p-fixed {
    position: fixed;
    top: 0;
    left: o;
}


/*Body css*/
header {
    background-color: #FF6900;
    color: white;
    padding:10px 10px;
    width: 100%;
    z-index: 1000;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

ul {
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    margin:0 5px;
}

a {
    text-decoration: none;
    color: white;
}

nav>img {
    height: auto;
    width: 100px;
}